{% capture component %}
  <nav role="navigation" aria-label="Links to previous and next pages in source order"
    class="display--flex flex-direction--row {% if include.classes %}{{ include.classes }}{% endif %}">
    {% if include.entity.collection %}
      {% assign collection_name = include.entity.collection %}
    {% else %}
      {% assign collection_name = "html_pages" %}
    {% endif %}
    {% assign collection = site[collection_name] | where_exp:'doc','doc.sitemap != false' | where_exp:'doc','doc.title != null' %}

    {% for entity in collection  %}
      {% if entity.title == include.entity.title %}
        {% unless forloop.first %}
          {% assign prev = previous_entity %}
        {% endunless %}

        {% unless forloop.last %}
          {% assign next = collection[forloop.index] %}
        {% endunless %}
      {% endif %}

      {% assign previous_entity = entity %}
    {% endfor %}

    {% if prev %}
      <div class="flex--1 text-align--left">
        <a class="pager--link pager--link--prev button" href="{{ prev.url | relative_url }}">
          Previous<span class="a11y--visually-hidden"> page, {{ prev.title }}</span>
        </a>
        <span class="pager--link--title layout--hide--narrow" aria-hidden="true">{{ prev.title }}</span>
      </div>
    {% endif %}

    {% if next %}
      <div class="flex--1 text-align--right">
        <a class="pager--link pager--link--next button" href="{{ next.url | relative_url }}">
          Next<span class="a11y--visually-hidden"> page, {{ next.title }}</span>
        </a>
        <span class="pager--link--title layout--hide--narrow" aria-hidden="true">{{ next.title }}</span>
      </div>
    {% endif %}
  </nav>
{% endcapture %}

{% capture name %}Previous/Next{% endcapture %}

{% capture liquid %}{% raw %}
  {% include molecules/prev-next.html
    entity=page
  %}
{% endraw %}{% endcapture %}

{% capture usage %}
#### General guidance

A prev/next pager is a good way to drive engagement on serialized pages where a user may want to continue reading in source
order.
{% endcapture %}

{% capture accessibility %}
Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
classes| css classes applied to parent| color--main-dark,
entity| the current page from which the source order is determined| page
{% endcapture %}

{% assign classes = "background-color--main-light, font-size--2em" | split: ", " %}

{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    liquid=liquid
    name=name
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
