{% capture component %}
  <div class="search-widget position--relative {% if include.classes %}{{ include.classes }}{% endif %}">
    <button type="button" class="js--toggle-below button--search-widget--toggle background-color--third" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0013 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 000-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"/>
      </svg>
      <span class="js--toggle-below--label a11y--visually-hidden">Open below</span>
    </button>

    <form method="get" action="{{ site.subpath }}{% link collections/pages/search/index.html %}"
      class="display--flex flex-direction--row z-index--9998 position--absolute js--toggle-below--closed">
      <div class="form--item form--item--input form--item--input--search">
        <label class="label form--item--label a11y--visually-hidden" for="q">Search query</label>
        <input name="q" id="q" placeholder="'Restaurant'...?" type="search" />
      </div>
      <button class="form--button form--button--submit button--search-widget--submit" type="submit">Go</button>
    </form>
  </div>
{% endcapture %}

{% capture name %}Search widget{% endcapture %}

{% capture liquid %}{% raw %}
  {% include molecules/search-widget.html %}
{% endraw %}{% endcapture %}

{% capture usage %}
#### General guidance

The search widget is a toggleable icon that opens a search form for keyword searching the whole site. Only one should appear
per page in order to avoid id attribute conflicts.
{% endcapture %}

{% capture accessibility %}
Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
classes| css classes applied to parent| color--main-dark
{% endcapture %}

{% assign classes = "background-color--main-light, font-size--2em" | split: ", " %}

{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    liquid=liquid
    name=name
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
