<!-- Bog-standard GDPR-compliant cookie disclosure box. -->
<div role="dialog" aria-live="polite" aria-label="Cookie consent" aria-describedby="dialog--cookie-disclosure--description"
  class="dialog dialog--cookie-disclosure js--dismissible background-color--main-dark color--white position--fixed
  bottom--0 left--0 right--0 z-index--4 padding-vertical--4 padding-horizontal--4" id="dialog--cookie-disclosure">
  <div class="layout--stripe--inner">
    <!--googleoff: all-->
      <span id="dialog--cookie-disclosure--description" class="dialog--cookie-disclosure--description">
        This website uses cookies to ensure you get the best visiting experience.
        <a href="{{ site.subpath }}{% link collections/pages/privacy-policy.md %}">Read our Privacy Policy</a>
        or
        <a href="https://www.cookiesandyou.com" rel="noopener noreferrer nofollow" target="_blank">Learn more about cookies</a>
      </span>
    <!--googleon: all-->
  </div>
</div>
