<style media="all" onload="this.media='invalid'">
  body {
    position: relative;
  }
  body::after {
    align-items: center;
    background-color: rgba(255,255,255,0.9);
    border: 4px solid;
    bottom: 0;
    color: #eee;
    content: 'Loading...';
    display: inline-flex;
    font-size: 20vw;
    font-weight: 600;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9999;
  }
  svg {
    display: none;
  }
</style>
<noscript>
  <style>
    body::after {
      display: none;
    }
    svg {
      display: initial;
    }
  </style>
</noscript>
