---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 4
  main: 4
#  utility: 1
meta:
  description: "Who, what, when, where, why, and how."
  image:
    alt: "Shifting the synergy paradigm" # It's okay for this to be empty if the image is decorative
    src: 1200x630/cytonn-photography-n95VMLxqM2I-unsplash.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /about/
#published: true
#schema:
#  type: "Thing"
sections:
  - "freshness"
  - "mailchimp"
#sitemap: true
#tags: ["three", "four"]
title: "About"
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Our story"
      classes=" heading--h1 text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex flex-direction--row-reverse">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse js--to-animate animation-name--reveal">
        <p>
          To crib <cite>Glengarry Glen Ross</cite>, "Always be closing." In this section you expose the what, the <em>why</em>,
          maybe sneak some <em>how</em> in there. All to serve purposes:
        </p>
        <ul>
          <li>Get the people visiting the site and reading this page to like and trust you</li>
          <li>Put a compelling story in front of what you're offering</li>
          <li>Give your brand a human face or ten</li>
          <li>Show how you're different from other brands in your space</li>
        </ul>

        <p>
          Write a few paragraphs! Use bullet lists and sub-headings for easy skimming. Let's keep things airy, and avoid
          big walls of text.
        </p>
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="undraw_welcome_3gvl.png"
          alt="Welcome to our story"
          classes=""
        %}
      </aside>
    </div>

  </div>
</section>

<section class="layout--stripe background-color--second-light background-image--hero-standout background-size--cover">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
    children="How we stand out"
    classes=" heading--h1 text-align--center"
    level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        <p>
          We are special, distinct from our competition, and worthy of your time and money for the following reasons:
        </p>

        <ul>
          <li>You're on this site and not other ones</li>
          <li>We have lots of experience and knowledge/wisdom</li>
          <li>You fit our ideal demo/vertical, which are people aged 0-99 who are willing to spend money</li>
          <li>Our offering is luxurious, sustainable, and has the right number of options</li>
          <li>At one point or another, somebody affiliated with Google and Microsoft paid us for our expertise, we think</li>
          <li>You're one of upwards of two customers we've had</li>
        </ul>

        <p>
          Here's an unexpected and delightful fact about us: we started making our product by hand in a garage while listening
          to "How Bizarre" by OMC.
        </p>

        <blockquote>
          <p>We've gotten far, and soon we'll go further.</p>
        </blockquote>

        <p class="font-size--p875em text-align--right"><cite>- Guy Founderson, <i>founder</i></cite></p>
      </aside>
    </div>
  </div>
</section>

{% include organisms/section.html
  mode="ref"
  slug="people"
%}

<section class="layout--stripe background-color--main-dark color--white background-image--gradient--main">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Global reach"
      classes=" heading--h1 text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        <p>
          Now that you've covered the other "W's", let's talk about the <em>where</em>. We can verbalize where we're from,
          yes, but can also do two tricks to demonstrate our mastery of the globe.
        </p>

        <p>This first is to list where you have offices, remote workers, random P.O. boxes, etc.:</p>

        <ul>
          <li>Detroit, MI, USA</li>
          <li>Santa Barbara, CA, USA</li>
        </ul>

        <p>...and the second is to show all the places where you've had an effect, like where your customers are, where
          you've held events, where you've traveled on business, etc.:
        </p>

        <ul>
          <li>Louisville, KY, USA</li>
          <li>Sydney, Australia</li>
        </ul>
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--flex-end
        padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="1200x630/noaa-aySTZ82UGus-unsplash.jpg"
          alt=""
          classes="box-shadow--lifted-edges"
        %}
      </aside>
    </div>
  </div>
</section>
