---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 2
  main: 2
#  utility: 1
meta:
  description: "The history and future of Shelby and Brad."
#  image:
#    alt: "Shelby and Brad among the stars" # It's okay for this to be empty if the image is decorative
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /about/
#published: true
#schema:
#  type: "Thing"
sections:
  - "events"
  - "freshness"
#sitemap: true
#tags: ["three", "four"]
title: "About"
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Our story, right quick"
      classes="text-shadow--second-light--solid heading--h1 text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex flex-direction--row-reverse">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse js--to-animate animation-name--reveal">
        <p>Shelby and Brad met on Tinder, where they discovered an instant chemistry as well as a bunch of coincidences.</p>
        <p>First, some coincidences:</p>
        <ul>
          <li>When they started chatting, Brad was supposed to be on a Tinder date with Shelby's friend, Emma. Instead,
            <i>Shelby</i> was with Emma, looking at Tinder.
          </li>
          <li>Shelby's older brother, Tyson, was friends with Brad back in elementary school. Small world! Go Barnard
            Bluejays!
          </li>
        </ul>

        <p>Needless to say, they had plenty to talk about, and had a grand time getting phở and bánh mì on their first date.</p>
      </aside>
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="bears-clipart-animated.gif"
          alt=""
          classes="js--to-animate js--event--click js--event--mouseover animation-name--spin animation-iteration-count--infinite animation-direction--alernate animation-duration--3s"
        %}
      </aside>
    </div>

  </div>
</section>

<section class="layout--stripe background-color--main-dark color--white background-image--gradient--main">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="What we've been up to"
      classes="text-shadow--second-light--solid"
      level="2"
    %}

    <div class="layout--row display--flex">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        <h3>Places we've gone</h3>

        <ul>
          <li><em>Benton Harbor, MI</em>: Watched Kat do an Ironman!</li>
          <li><em>Cuyahoga Valley National Park, OH</em>: Rocks, trees, rivers, all that jazz. We even camped</li>
          <li><em>Philadelphia, PA</em>: Reading Terminal Market and Guy Fieri's Kitchen</li>
          <li><em>Madison Heights, MI</em>: Augie's really does have great chicken tenders (and it's where we got engaged)</li>
          <li><em>Rocky Mountain National Park and Fort Collins, CO</em>: Alex and Kat throw great parties. We saw moose!</li>
        </ul>

        <h3>Things we've watched</h3>

        <ul>
          <li>Diners, Drive-ins, and Dives</li>
          <li>LOST</li>
          <li>Doughboys, live!</li>
          <li>Sports Night</li>
          <li>Brick</li>
          <li>Parasite</li>
          <li>Hereditary</li>
          <li>Idiocracy</li>
          <li>About Time</li>
          <li>Sorry to bother you</li>
          <li>A Detroit Pistons game (in person)</li>
        </ul>
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--flex-end
        padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="1200x630/hereditary.jpg"
          alt=""
          classes="box-shadow--lifted-edges"
        %}
      </aside>
    </div>

    <p>And the fun doesn't stop there! We've got big plans for 2020 and beyond.</p>
  </div>
</section>

{% include organisms/section.html
  mode="ref"
  slug="people"
%}

{% include organisms/section.html
  mode="ref"
  slug="gallery"
%}

<section class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Coming from out of town?"
      classes="text-shadow--second-light--solid heading--h1 text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse">
        <p>We'd be delighted to point you in the right direction for accommodations, sightseeing, food, activities, or
          anything else your heart desires! Just contact either of us by phone, email, social media, or the
          <a href="/rsvp/">RSVP form</a>.</p>
        <p>For info on how cool Detroit is, <a href="https://visitdetroit.com/">check out visitdetroit.com</a>.</p>
      </aside>
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="1200x630/detroit.jpg"
          alt="An artist depiction of our wedding"
          classes="box-shadow--lifted-edges"
        %}
      </aside>
    </div>
  </div>
</section>
