---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 4
#  footer: 3
#  main: 3
#  utility: 1
meta:
  description: "All the goings-on."
#  image:
#    alt: "Default social image" # It's okay for this to be empty if the image is decorative
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /events/
#published: true
#schema:
#  type: "Thing"
sections:
  - cta
#sitemap: true
#tags: ["three", "four"]
title: "Events"
---

{% assign events = site.events | where_exp:"item", "item.date >= site.time" %}
<section class="layout--stripe ">
  <div class="layout--stripe--inner">
    <p>
      Here's everything that's going on. For events that happened in the past, check out the
      <a href="{{ site.subpath }}{% link collections/pages/events-archive.html %}">Events archive</a>
    </p>

    {% include atoms/spacer.html size="8" %}

    {% if events[0] %}
      <ul class="list-style--none layout--multiple--horizontal">
        {% for event in events %}
          {% include molecules/card.html
            entity=event
          %}
        {% endfor %}
      </ul>
    {% else %}
      <p class="listing--no-results">There are presently no future events.</p>
    {% endif %}
  </div>
</section>
