/*---Brad's Blog — Maintained by:Brad Czerniak Email:ao5357@gmail.com — based on Hawidu CSS: https://github.com/ao5357/hawiducss ---*/
/*--Type Selectors--*/
/*-Body-*/
html{font-size:100.01%;}
body{background:#fff;color:#111;font-family:Georgia,serif;line-height:1.5;margin:0;}

/*-Link-*/
a:link{color:#00619e;}
a:visited{color:#61009e;}
a:hover,a:active{color:#ff9e00;}
a:focus{outline:.1em dotted;}

/*-List-*/
ol{list-style:decimal outside;margin:.5em 0;padding:0 1em;}
ul{list-style-type:none;margin:.5em 0;padding:0 1em;}
	ul>li:before{content:"\25BA";display:block;font-size:.7em;height:0;left:-2.1em;position:relative;top:.3em;}

/*-Heading-*/
h1{font-size:2.25em;margin:.75em 0 .25em 0;}
	h1>a:link,h1>a:visited{}
	h1>a:hover,h1>a:focus,h1>a:active{}
h2{font-size:1.75em;margin:.75em 0 .25em 0;}
	h2>a:link,h2>a:visited{}
	h2>a:hover,h2>a:focus,h2>a:active{}
h3{font-size:1.5em;margin:.75em 0 .25em 0;}
	h3>a:link,h3>a:visited
	h3>a:hover,h3>a:focus,h3>a:active{}
h4{font-size:1.25em;margin:.75em 0 .25em 0;}
	h4>a:link,h4>a:visited{}
	h4>a:hover,h4>a:focus,h4>a:active{}
h5{font-size:1em;margin:.75em 0 .25em 0;}
	h5>a:link,h5>a:visited{}
	h5>a:hover,h5>a:focus,h5>a:active{}
h6{font-size:.75em;margin:.75em 0 .25em 0;}
	h6>a:link,h6>a:visited{}
	h6>a:hover,h6>a:focus,h6>a:active{}

/*-Form-*/
fieldset{border:.1em solid #e3e3e3;margin:1.5em 0;padding:.5em 1em;}
	legend{margin:0 0 0 .8em;}
	fieldset ol{margin:0;padding:0;}
		fieldset li{list-style:none;margin:0;padding:.5em 1em;}
			fieldset li label,fieldset li .implicit-label{display:inline-block;margin:0 1em 0 0;width:10em;}
	[role=button],button,code,fieldset,input,pre,select,textarea{border:.1em solid;border-color:#bbb #ccc #ccc #bbb;border-radius:.3em;color:#111;font-family:Arial,sans-serif;font-size:1em;line-height:normal;margin:0 1em 0 0;vertical-align:top;}
		[role=button],button,input[type=submit],select{background-color:#f9f9f9;background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.1),transparent);background-image:-ms-linear-gradient(bottom,rgba(0,0,0,.1),transparent);background-image:-o-linear-gradient(bottom,rgba(0,0,0,.1),transparent);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.1),transparent);background-image:linear-gradient(bottom,rgba(0,0,0,.1),transparent);border:.1em solid;border-color:#ccc #bbb #bbb #ccc;cursor:pointer;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#ffffffff,endColorstr=#21000000);}
		[role=button],button,input[type=submit]{color:#111;padding:.1em 1em;}
			[role=button]:hover,button:hover,input[type=submit]:hover{background-color:#f0f0f0;}
			.clicked,button.clicked,input.clicked{background-color:#e5e5e5;color:#fff;}
		[role=button]{display:inline-block;line-height:1.3;text-decoration:none;}
		input:-moz-placeholder{color:graytext;}
		input[type=file]{font-size:.714em;}
		input[type=search]{-webkit-appearance:textfield;}
		select[size],select[multiple]{background-image:none;}
			optgroup{background:transparent;}
				option{background:transparent;}

/*-Table-*/
table{border:.1em solid #ccc;border-collapse:collapse;border-spacing:0;font-size:inherit;margin:1.5em 1em;}
	caption{border-color:#ccc;border-style:solid;border-width:.1em .1em 0 .1em;font-size:.75em;padding:.25em 1em;text-align:left;}
	thead{background:#ccc;font-weight:bold;}
		th{border-right:.1em solid #ccc;border-bottom:.1em solid #eee;padding:.25em 1em;}
	tbody>tr:hover{background:#eee;}
	tbody>tr:nth-child(even){background:#f9f9f9;}
	td{border-right:.1em solid #ccc;border-bottom:.1em solid #eee;padding:.25em 1em;}

/*-Other-*/
abbr{border-bottom:.1em dotted #666;cursor:help;white-space:nowrap;}
address{font-style:italic;}
blockquote{background:#f9f9f9;border-left:1em solid #eee;margin:1.5em 1em;padding:.5em 1em;quotes:'\201C' '\201C' '\201C' '\201C';}
	blockquote:before{color:#808080;content:open-quote;font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;}
	blockquote > :first-child{display:inline;}
	blockquote > :last-child{margin-bottom:0;}
code,pre{background:#f9f9f9;border:.1em solid #ccc;display:block;font-family:monospace;font-size:1em;margin:1.5em 1em;padding:.5em 1em;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
embed,img,object{max-width:100%;}
	img{-ms-interpolation-mode:bicubic;border:0 none;}
hr{background-color:#808080;border-width:0;color:#808080;height:.2em;line-height:0;margin:1.8571em 2em;page-break-after:always;text-align:center;}
	hr:after{content:"\a7\a7";font-size:1.25em;}
mark{background:#ff9e00;margin:-.2em;padding:.2em;}
meter{-moz-appearance:progressbar;}

p{clear:both;margin:1.5em 0;}
q{quotes:"\201C""\201D""\2018""\2019";}
sub{bottom:-.25em;position:relative;vertical-align:baseline;}
sup{bottom:.33em;position:relative;vertical-align:baseline;}

/*--Classes/Roles--*/
.column{float:left;margin:1.5em 0;width:50%;}
	.columnated-text{-moz-column-count:2;-moz-column-gap:2em;-moz-hyphens:auto;-webkit-column-count:2;-webkit-column-gap:2em;-webkit-hyphens:auto;column-count:2;column-gap:2em;hyphens:auto;text-align:justify;}
.hide{display:none;}
	.away{overflow:hidden;text-indent:100%;white-space: nowrap;}
.pill,.pill[type=submit]{border-radius:.3em .1em .1em .3em;margin:0 -.14em;padding:.1em .5em;}
	.pill+.pill{border-color:#ccc #bbb #bbb #fff;border-radius:.1em;}
	.pill:last-child,.pill[type=submit]:last-child{border-radius:.1em .3em .3em .1em;margin-right:1em;}

/*--Structure--*/
article,aside,figure,footer,header,hgroup,nav,section{display:block;}
aside,header,nav{float:right;width:320px;}
nav,aside{clear:right;}

.page{margin:0 auto;width:960px;}
	article{float:left;width:560px;}
	footer{clear:both;margin:10px;}

/*--Media Queries--*/
/*-Print-*/
@media print{
	/*Tag-level*/
	a[href^=http]:after{content:" (" attr(href) ") ";font-size:.8em;font-weight:normal;}
  abbr[title]:after,acronym[title]:after{content:" (" attr(title) ") ";font-size:.8em;font-weight:normal;}

	/*Structure*/
	.page,article{float:none;margin:0;padding:0;width:100%;}
		aside,footer,header,nav,.noprint{display:none;}
	}