<div class="region about">
  <h1>About</h1>
  <p>Brad is a web developer specializing in the <a href="http://drupal.org/">Drupal</a> content management framework. 
  He plies his trade for <a href="http://www.commercialprogression.com/">Commercial Progression</a>, the best Drupal 
  shop for medium-to-large clients looking for design, development, hosting, and personalized support.</p>
  
  <p>In his down time, Brad enjoys classic films, sitcoms, trivia shows, and documentaries. 
  He occasionally leaves his fortress of solitude to take food tours of Detroit, and to play 
  frisbee sports.</p>
</div>
