<div class="region socials">
  <h1>About</h1>
  <p>Brad is a web developer specializing in the Drupal content management framework. 
  He plies his trade for Commercial Progression, the best Drupal shop for medium-to-large 
  clients looking for design, development, hosting, and personalized support.</p>
  
  <p>In his down time, Brad enjoys classic films, sitcoms, trivia shows, and documentaries. 
  He occasionally leaves his fortress of solitude to take food tours of Detroit, and to play 
  frisbee sports.</p>
</div>
