<a href="http://www.amazon.com/gp/product/1400064287/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1400064287&amp;linkCode=as2&amp;tag=hawidu-20" title="Made to Stick by Chip and Dan Heath">
	<img src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&amp;ASIN=1400064287&amp;Format=_SL110_&amp;ID=AsinImage&amp;MarketPlace=US&amp;ServiceVersion=20070822&amp;WS=1&amp;tag=hawidu-20" alt="Made to Stick by Chip and Dan Heath" />
</a>
<a href="http://www.amazon.com/gp/product/B000VHZKQG/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000VHZKQG&linkCode=as2&tag=hawidu-20" title="Filterless humidifier">
	<img src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&ASIN=B000VHZKQG&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hawidu-20" alt="Filterless humidifier" />
</a>