<div class="region socials">
  <h1>Find Brad elsewhere</h1>
  <a href="/brad/" rel="me">
		<img src="/deps/justvector/resume.svg" alt="" />
		R&eacute;sum&eacute;</a>
	<a href="http://amzn.com/w/1473H00HYLNP5" rel="me">
		<img src="/deps/justvector/amazon.svg" alt="" />
		Amazon</a>
	<a href="http://drupal.org/user/313975" rel="me">
		<img src="/deps/justvector/drupal.svg" alt="" />
		Drupal</a>
	<a href="mailto:ao5357@gmail.com" rel="me">
		<img src="/deps/justvector/email.svg" alt="" />
		Email</a>
	<a href="http://www.facebook.com/bradczerniak" rel="me">
		<img src="/deps/justvector/facebook_alt.svg" alt="" />
		Facebook</a>
	<a href="http://www.flickr.com/people/45555266@N00/" rel="me">
		<img src="/deps/justvector/flickr.svg" alt="" />
		Flickr</a>
	<a href="https://github.com/ao5357" rel="me">
		<img src="/deps/justvector/github_alt.svg" alt="" />
		GitHub</a>
	<a href="https://plus.google.com/101859597007067422923?rel=author" rel="me">
		<img src="/deps/justvector/google_plus.svg" alt="" />
		Google+</a>
	<a href="http://www.hulu.com/profiles/ao5357" rel="me">
		<img src="/deps/justvector/hulu.svg" alt="" />
		hulu</a>
	<a href="http://ao5357.imgur.com/all/" rel="me">
		<img src="/deps/justvector/imgur.svg" alt="" />
		imgur</a>
	<a href="http://jsfiddle.net/user/ao5357/fiddles/" rel="me">
		<img src="/deps/justvector/jsfiddle.svg" alt="" />
		jsFiddle</a>
	<a href="http://www.linkedin.com/in/bczerniak" rel="me">
		<img src="/deps/justvector/linkedin_alt.svg" alt="" />
		LinkedIn</a>
	<a href="http://www.meetup.com/members/12140859/" rel="me">
		<img src="/deps/justvector/meetup.svg" alt="" />
		Meetup</a>
	<a href="http://www.reddit.com/user/ao5357/" rel="me">
		<img src="/deps/justvector/reddit.svg" alt="" />
		Reddit</a>
	<a href="http://twitter.com/ao5357" rel="me">
		<img src="/deps/justvector/twitter_alt.svg" alt="" />
		Twitter</a>
	<a href="http://www.youtube.com/user/gonewrenchin" rel="me">
		<img src="/deps/justvector/youtube.svg" alt="" />
		YouTube</a>
</div>