{% capture component %}
  <footer itemprop="publisher" itemscope itemtype="http://schema.org/{{ site.schema.publisher.type }}"
    class="footer layout--strip background-color--main color--white {% if include.classes %}{{ include.classes }}{% endif %}">
    <div class="layout--stripe--inner">
      {% for location in site.locations limit: 1 %}
        <h2 class="a11y--visually-hidden" itemprop="name">{{ location.name }}</h2>
      {% endfor %}

      <div class="layout--row display--flex">
        <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
          padding-horizontal--4 padding-horizontal--collapse">
          {% for location in site.locations %}
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <strong>{{ location.name }}</strong><br>
              <span itemprop="streetAddress">{{ location.street_address }}</span><br>
              <span itemprop="addressLocality">{{ location.locality }}</span>,
              <span itemprop="addressRegion">{{ location.region }}</span>
              <span itemprop="postalCode">{{ location.postal_code }}</span>
            </address>
          {% endfor %}

          {% if site.social %}
            <ul class="social margin-horizontal--0">
            {% for link in site.social %}
              <li class="display--inline-block">
                {% if link.icon %}
                  <a href="{{ link.url }}" class="font-size--2em" aria-label="{{ link.title }}">
                    {% include atoms/icon.html library=link.icon.library symbol=link.icon.symbol %}
                  </a>
                {% else %}
                  <a href="{{ link.url }}"><span>{{ link.title }}</span></a>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}

          {% if site.email %}<div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>{% endif %}

          {% if site.phone %}
            <div><a href="tel:+{{ site.phone.mailto }}">{{ site.phone.display }}</a></div>
          {% endif %}
        </aside>

        <aside class="layout--column flex--3 display--flex flex-direction--column justify-content--center">
          {% include molecules/menu.html
            classes="border-spaced display--flex layout--row menu-layout--horizontal font-weight--600 font-size--1p25em"
            menu="footer"
          %}
        </aside>
      </div>
    </div>
  </footer>
{% endcapture %}

{% capture name %}Footer{% endcapture %}

{% capture liquid %}{% raw %}
  {% include organisms/footer.html %}
{% endraw %}{% endcapture %}

{% capture usage %}
#### General guidance

The footer section contains site contact information, socials, and the footer menu.
{% endcapture %}

{% capture accessibility %}
Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
classes| css classes applied to parent| color--main-dark
{% endcapture %}

{% assign classes = "background-color--main-light, font-size--2em" | split: ", " %}

{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    liquid=liquid
    name=name
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
