{% capture component %}
  <div class="layout--stripe background-color--second-light color--third-dark js--dismissible
    {% if include.classes %}{{ include.classes }}{% endif %}">
    <div class="layout--stripe--inner">
      <strong class="heading--h2 font-family--secondary">Special promotion! (fake heading for doc outline)</strong>

      {% include atoms/spacer.html size="4" %}

      <p>
        This section can be customized for a fancy, important, temporary feature on the home page. You will probably want
        to put a fancy background here or otherwise catch users' eyes.
      </p>

      {% include atoms/spacer.html size="2" %}

      <a href="https://github.com/lowerbarriers/finished-starter" class="button">Make your own site easily</a>
    </div>
  </div>
{% endcapture %}

{% capture name %}Header (Pre){% endcapture %}

{% capture liquid %}{% raw %}
  {% include organisms/header--pre.html %}
{% endraw %}{% endcapture %}

{% capture usage %}
#### General guidance

The header pre is an optional section for the front page, to draw attention above the fold.
{% endcapture %}

{% capture accessibility %}
Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
classes| css classes applied to parent| color--main-dark
{% endcapture %}

{% assign classes = "background-color--main-light, font-size--2em" | split: ", " %}

{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    liquid=liquid
    name=name
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
