{% capture component %}
  <section class="include include--organisms include--organisms--related layout--stripe
    {% if include.classes %}{{ include.classes }}{% endif %}"
    {% if include.title %}id="related--{{ include.title | slugify }}"{% endif %}>
    <div class="layout--stripe--inner">
      {% if include.title %}
        <h2 class="{{ include.title_classes }}">{{ include.title }}</h2>
      {% endif %}

      {% capture where_exp_str %}item.title != "{{ include.entity.title }}"{% endcapture %}
      {% assign docs = site[include.entity.collection] | where_exp: "item", where_exp_str %}
      {% if docs[0] %}
        <ul class="list-style--none layout--multiple--horizontal">
          {% for doc in docs limit: 3 %}
            {% include molecules/card.html
              entity=doc
            %}
          {% endfor %}
        </ul>
      {% else %}
        <p class="listing--no-results">There is no related content.</p>
      {% endif %}
    </div>
  </section>
{% endcapture %}

{% capture name %}Related{% endcapture %}

{% capture liquid %}{% raw %}
  {% include organisms/related.html
    classes=""
    entity=page
    title="Related"
    title_classes=""
  %}
{% endraw %}{% endcapture %}

{% capture usage %}
#### General guidance

The related section can highlight content of the same type as the page you're on.
{% endcapture %}

{% capture accessibility %}
Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
classes| css classes applied to parent| background-color--main-dark color--white,
children| Contents and sub-contents of the section| Here is some text.,
title| Each section should have an h2| This describes what is in the section,
title_classes| Styling for the section title| heading--h1
{% endcapture %}

{% assign classes = "background-color--main-light, font-size--2em" | split: ", " %}

{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    liquid=liquid
    name=name
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
