/**
 * @file
 * Component and class-level styles.
 */

/**
 * Skip-to-main-content links for accessibility.
 */
.a11y--skip-hide {
  background: var(--color--main-dark);
  position: relative;
  text-align: center;
}
.a11y--skip-hide a {
  color: var(--color--white);
  display: block;
  height: 1px;
  left: -10000px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: auto;
  width: 1px;
}
.a11y--skip-hide a:focus {
  height: auto;
  outline: 0 none;
  position: static;
  width: auto;
}

/**
 * Alerts.
 */
.alert {
  border: 1px solid;
  border-radius: var(--border-radius--default);
  font-style: italic;
  margin: 10px 0;
  padding: 10px;
}
.alert a {
  color: inherit;
  font-weight: 600;
}
.alert p:first-of-type {
  margin-top: 0;
}
.alert--error {
  background-color: var(--color--error-background);
  color: var(--color--error);
}
.alert--status {
  background-color: var(--color--status-background);
  color: var(--color--status);
}
.alert--warning {
  background-color: var(--color--warning-background);
  color: var(--color--warning);
}

/**
 * Background images and gradients.
 */
.background-image--affectation {
  background-image: url("/assets/images/required/bg--affectation.svg");
  background-position: top right;
  background-repeat: no-repeat;
}
.background-image--dirt {
  background-image: url("/assets/images/bg-dirt.svg");
  background-position: center center;
  background-repeat: repeat;
}
.background-image--gradient--second-white-starburst {
  background-image: repeating-conic-gradient(
    from 3deg at -15% 115%,
    var(--color--second-light) 0 1deg,
    var(--color--white) 0 4deg,
    transparent 0 7deg
  );
}
.background-image--gradient--main {
  background-image: linear-gradient(
    -5deg,
    transparent 50%,
    var(--color--main) 200%
  );
}
.background-image--gradient--second {
  background-image: linear-gradient(
    -5deg,
    transparent 50%,
    var(--color--second) 200%
  );
}
.background-image--gradient--third {
  background-image: linear-gradient(
    -5deg,
    transparent 50%,
    var(--color--third) 200%
  );
}
.background-image--gradient--accent {
  background-image: linear-gradient(
    -5deg,
    transparent 50%,
    var(--color--accent) 200%
  );
}

/**
 * Effects based on scroll.
 */
.body-scroll--up {
}
.body-scroll--up .fab {
  bottom: -200px;
}
@media all and (min-width: 1024px) {
  .body-scroll--up .nav--main {
    box-shadow: 0 2px 6px rgba(136, 165, 191, 0.9);
    position: sticky;
    top: 0;
    transition: var(--transition--default);
    z-index: 8;
  }
}

/**
 * Add stylistic pipes to lists.
 */
.border-spaced {
}
.border-spaced > li {
  border-bottom: 1px solid;
}
.border-spaced li:last-child {
  border-bottom: 0 none;
}
@media all and (min-width: 768px) {
  .border-spaced > li {
    border-right: 1px solid;
    border-bottom: 0 none;
  }
  .border-spaced li:last-child {
    border-right: 0 none;
  }
}

/**
 * Browser upgrade prompt for any version of IE.
 *
 * Omitting Custom Props here since IE does not support them.
 */
.browserupgrade {
  background-color: #1d3141;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding: 20px;
  text-align: left;
}
.browserupgrade a:link,
.browserupgrade a:visited {
  color: #fafafa;
  text-decoration: underline;
}
.browserupgrade a:hover,
.browserupgrade a:hover,
.browserupgrade a:hover {
  color: #ffc227;
}
.browserupgrade > p {
  margin: 0 auto;
  max-width: 960px;
}

/**
 * Inverted "ghost" buttons (anti-pattern, but common).
 *
 * @see ../utility/utility--color.css for the background-to-border conversion.
 */
.button--ghost {
  background-color: var(
    --color--white
  ); /* Could be transparent depending on theme. */
  border: 1px solid;
}
.button--ghost:hover {
  color: var(--color--grey-dark);
}

/**
 * Cards (teasers).
 */
.card {
  border: var(--neumorphic--border);
  border-radius: var(--border-radius--default);
  box-shadow: var(--neumorphic--box-shadow--large);
  text-shadow: var(--neumorphic--text-shadow);
  transition: var(--transition--default);
}
.card figure,
.card figure img {
  border-top-left-radius: var(--border-radius--default);
  border-top-right-radius: var(--border-radius--default);
  margin-bottom: 0;
  transition: var(--transition--default);
}
.card h3 {
  margin-bottom: calc(1.5 * var(--spacing--single));
}
.card h3 > a {
  text-decoration: underline;
}
.card h3 + strong {
  margin-bottom: calc(1.5 * var(--spacing--single));
  margin-top: calc(-1 * var(--spacing--single));
}
.card picture {
  overflow: hidden;
}
.card--hover:hover,
.card--hover:active,
.card--hover:focus-within {
  border: var(--neumorphic--border--active);
  box-shadow: var(--neumorphic--box-shadow--large--active);
}
.card--hover:hover figure img,
.card--hover:active figure img,
.card--hover:focus-within figure img {
  transform: scale(1.125);
}
.card--hover:focus-within h3 > a {
  text-decoration: underline dashed;
}

/**
 * The page-bottom copyright section.
 */
.copyright {
}
.copyright p {
  max-width: none;
}

/**
 * GDPR Cookie disclosure dialog (fixed to bottom of screen).
 */
.dialog--cookie-disclosure {
  box-shadow: 0 -2px 6px rgba(136, 165, 191, 0.9);
}

/**
 * Docblocks, the example containers for components.
 */
.docblock {
  margin: 0 0 calc(4 * var(--spacing--single));
}
.docblock--example {
  border: 1px dashed;
  padding: calc(2 * var(--spacing--single));
}

/**
 * Docs sidebar for navigating documentation.
 */
.docs-sidebar {
}
.docs-sidebar a.active {
  font-style: italic;
  text-decoration: underline dashed;
}
@media all and (min-width: 1440px) {
  .has--docs-sidebar > .layout--stripe--inner {
    margin-left: 360px;
  }
  .docs-sidebar {
    overflow-y: auto;
    position: sticky;
    top: 0;
    width: 360px;
  }
}

/**
 * Icons.
 *
 * By default set icon wrappers to a character wide and high.
 */
.figure--icon {
  height: 1.25ch;
  vertical-align: top;
  width: 1.25ch;
}
.figure--icon > svg {
  fill: currentColor;
}

/**
 * Polaroid-style images for the gallery.
 */
.figure--image--polaroid:not(.js--event--click--toggle) {
  margin-bottom: calc(1 * var(--spacing--single));
}
.figure--image--polaroid:not(.js--event--click--toggle) > picture {
  border: 1px solid var(--color--grey);
  box-shadow: 0 0 0 calc(2 * var(--spacing--single)) var(--color--white),
    0 calc(2 * var(--spacing--single)) 0 calc(2 * var(--spacing--single))
      var(--color--white),
    calc(2 * var(--spacing--single)) calc(6 * var(--spacing--single))
      calc(2 * var(--spacing--single)) 0 rgba(0, 0, 0, 0.5);
}
.figure--image--polaroid:not(.js--event--click--toggle) > figcaption {
  background-color: var(--color--white);
  color: var(--color--grey-dark);
}
@media all and (min-width: 1024px) {
  .figure--image--polaroid:not(.js--event--click--toggle):nth-of-type(3n + 1) {
    transform: rotate(-3deg);
  }
  .figure--image--polaroid:not(.js--event--click--toggle):nth-of-type(3n + 1)
    > figcaption {
    color: var(--color--main-dark);
  }
  .figure--image--polaroid:not(.js--event--click--toggle):nth-of-type(3n + 2) {
    transform: rotate(3deg);
  }
  .figure--image--polaroid:not(.js--event--click--toggle):nth-of-type(3n + 2)
    > figcaption {
    color: var(--color--accent);
  }
}

/**
 * Footnotes, as generated by the kramdown engine.
 *
 * Since we can't add classes to every instance, we have to declaratively style the single footnotes class.
 */
.footnotes {
  background-color: var(--color--grey-light);
  border: 2px solid var(--color--grey);
  color: var(--color--black);
  font-size: 0.875em;
  margin-top: calc(4 * var(--spacing--single));
  padding: calc(2 * var(--spacing--single));
}
.footnotes::before {
  content: var(--content--footnotes);
  font-weight: 900;
}

/**
 * Forms and form elements.
 */
.form {
}
.form--item:not([class*="flex--"]) + .form--item:not([class*="flex--"]) {
  margin-top: calc(2 * var(--spacing--single));
}
.form--item--description {
  font-size: 0.75em;
}
.form--item--checkbox.position--relative > label,
.form--item--radio.position--relative > label {
  border: var(--neumorphic--border);
  border-radius: var(--border-radius--default);
  box-shadow: var(--neumorphic--box-shadow);
  cursor: pointer;
  text-shadow: var(--neumorphic--text-shadow);
  transition: var(--transition--default);
}
.form--item--checkbox.position--relative > label:hover,
.form--item--checkbox.position--relative > label:active,
.form--item--checkbox.position--relative > label:focus-within,
.form--item--checkbox.position--relative > input:checked + label,
.form--item--radio.position--relative > label:hover,
.form--item--radio.position--relative > label:active,
.form--item--radio.position--relative > label:focus-within,
.form--item--radio.position--relative > input:checked + label {
  border: var(--neumorphic--border--active);
  box-shadow: var(--neumorphic--box-shadow--active);
}
.form--item--checkbox.position--relative > label,
.form--item--radio.position--relative > label {
  padding-left: calc(3 * var(--spacing--single));
  padding-right: calc(1 * var(--spacing--single));
}
.form--item--checkbox.position--relative > input,
.form--item--radio.position--relative > input {
  left: calc(1 * var(--spacing--single));
  position: absolute;
  top: calc(50% - 7px); /* Magic number guess for OS radio size. */
  z-index: 2;
}

/**
 * Specificity override for gallery item margins.
 */
.gallery-item {
}
.text-align--center figure.gallery-item {
  margin: 0 auto calc(4 * var(--spacing--single));
}

/**
 * Site header and its elements.
 */
.header {
}
.header--logo {
  text-decoration: none;
}
.header--logo--tagline {
  text-shadow: var(--neumorphic--text-shadow);
}

/**
 * Dismissible elements.
 */
.js--dismissible {
  min-height: 35px; /* Magic number because of the button height below. */
  padding-right: 55px !important; /* Magic number because of the button width below. */
}
.js--dismissible--close {
  color: currentColor;
  margin: 0;
  padding: calc(0.75 * var(--spacing--single)) calc(1 * var(--spacing--single));
  position: absolute;
  right: calc(1 * var(--spacing--single));
  top: calc(50% - 17.5px);
}

/**
 * Rudimentary lightbox.
 */
.js--event--click {
  cursor: pointer;
  transition: var(--transition--default);
}
.js--event--click--toggle.click--lightbox {
  bottom: calc(2 * var(--spacing--single));
  display: block;
  left: calc(2 * var(--spacing--single));
  max-width: none !important;
  overflow: hidden;
  position: fixed;
  right: calc(2 * var(--spacing--single));
  top: calc(2 * var(--spacing--single));
  z-index: 9999;
}
.js--event--click--toggle.click--lightbox::after {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -2;
}
.js--event--click--toggle.click--lightbox picture {
  margin: auto auto;
  max-height: calc(100vh - (8 * var(--spacing--single)));
  width: auto;
}
.js--event--click--toggle.click--lightbox:not(.figure--image--polaroid)
  > figcaption {
  color: var(--color--white);
}

/**
 * Toggle below (Open/Close below) buttons.
 */
.js--toggle-below {
}
.js .js--toggle-below--closed {
  display: none;
}

/**
 * Markdown-processed text.
 */
.markdownified {
}

/**
 * Menus.
 */
.menu {
}
.menu-item {
  margin: calc(0.5 * var(--spacing--single)) 0
    calc(0.5 * var(--spacing--single)) calc(0.5 * var(--spacing--single));
  padding-right: calc(0.5 * var(--spacing--single));
}
.menu-item > a {
  color: inherit;
  display: block;
  margin: 0 auto;
  max-width: calc(var(--layout--content-area) / 5);
  padding: calc(2 * var(--spacing--single)) calc(2 * var(--spacing--single));
}
.color--white .menu-item > a:hover,
.color--white .menu-item > a:active,
.color--white .menu-item > a.active,
.color--white .menu-item > a:focus {
  background-color: var(--color--second);
  font-weight: 700;
  text-decoration: underline dashed var(--color--grey-light);
}
@media all and (min-width: 768px) {
  .menu-layout--horizontal {
    text-align: center;
  }
}

/**
 * Initial "top" state for the main nav, to allow for transitions via body-scroll--
 */
.nav--main {
  position: static;
  top: -300px; /* Need a set negative position taller than the nav but not huge for transition */
  transition: var(--transition--default);
}

/**
 * Color palette boxes for the moodboards and style guide.
 */
.palette {
  border: 1px solid var(--color--grey);
  min-height: calc(10 * var(--spacing--single));
  min-width: calc(10 * var(--spacing--single));
}

/**
 * Make lazy loaded images transition all for perceived performance.
 */
.picture--lazy-load {
  transform: scale(1, 0);
  transition: var(--transition--default);
}
.picture--lazy-load--loaded {
  transform: scale(1, 1);
}

/**
 * Add stylistic pipes to lists.
 */
@media all and (min-width: 768px) {
  .pipe-spaced {
  }
  .pipe-spaced > li::after {
    content: "|";
    display: inline-block;
    font-weight: 300;
    opacity: 0.9;
    padding: 0 2px;
    vertical-align: middle;
  }
  .pipe-spaced > li:last-child::after {
    display: none;
  }
}

/**
 * The search widget in the header.
 */
.search-widget {
  top: calc(25% - (2 * var(--spacing--single)));
}
.search-widget form {
  max-width: calc(100vw - (4 * var(--spacing--single)));
  width: calc(24 * var(--spacing--single));
}
.has--search-widget {
  padding-right: calc(4 * var(--spacing--single));
}
.button--search-widget--submit {
  background-color: var(--color--accent);
  box-shadow: none;
  margin: 0;
  padding: calc(0.5 * var(--spacing--single)) calc(0.5 * var(--spacing--single));
}
.button--search-widget--toggle {
  line-height: var(--line-height--heading);
  margin: 0;
  padding: calc(0.5 * var(--spacing--single)) calc(0.5 * var(--spacing--single));
}
.button--search-widget--toggle > svg {
  fill: var(--color--white);
  margin: 0;
}
.button--search-widget--toggle[aria-expanded="true"] > svg {
  fill: var(--color--second-light);
}

/**
 * Social links.
 */
.social {
}
.social a {
  display: block;
  margin: 0 calc(0.5 * var(--spacing--single))
    calc(0.5 * var(--spacing--single)) 0;
  min-height: 48px;
  min-width: 48px;
}
.social a:hover,
.social a:active,
.social a:focus-within {
  color: var(--color--second-light);
}

/**
 * A "street sign", triple-D style.
 *
 * Base class applies to children. Each child pads down, and base element is bottom padded quite a lot.
 */
.street-sign {
  bottom: calc(-2 * var(--spacing--single));
  display: block;
  font-size: 2rem;
  margin: calc(2 * var(--spacing--single)) auto 0;
  max-width: calc(100vw - 4.5em);
  padding: 0 calc(2 * var(--spacing--single)) calc(10 * var(--spacing--single));
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: rotate(5deg);
  transition: none;
}
@media all and (min-width: 480px) {
  .street-sign {
    max-width: 6em;
  }
}
@media all and (min-width: 768px) {
  .street-sign {
    font-size: 4vw;
    margin: calc(8 * var(--spacing--single)) auto 0;
  }
}
@media all and (min-width: 1080px) {
  .street-sign {
    font-size: 3rem;
    margin-left: 0;
  }
}
.street-sign::before {
  background-color: var(--color--grey);
  background-image: linear-gradient(
    to right,
    var(--color--grey),
    var(--color--grey-dark)
  );
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 10%;
  width: 20px;
  z-index: 1;
}
.street-sign > * {
  display: block;
  margin: 0 auto calc(3 * var(--spacing--single));
  padding: calc(1 * var(--spacing--single));
  position: relative;
  z-index: 4;
}
.street-sign > :first-child {
  background-color: var(--color--grey-dark);
  background-image: repeating-conic-gradient(
    from 3deg at -10% -10%,
    transparent 0,
    var(--color--grey) 8deg,
    transparent 16deg
  );
  border: 3px solid var(--color--street-sign--glow);
  border-radius: 6px;
  box-shadow: 0 0 0 3px var(--color--black),
    0 0 2px 6px var(--color--street-sign--glow),
    -6px 6px 0 12px var(--color--black);
  color: var(--color--black);
  font-size: 2em;
  text-shadow: 0 0 8px var(--color--street-sign--glow);
  transform: rotate(-15deg) skew(10deg, 10deg);
}
.street-sign > :nth-child(2) {
  color: var(--color--street-sign--red);
  filter: drop-shadow(0 0 3px var(--color--second));
  font-style: italic;
  padding: 0;
  text-shadow: 0 0 2px var(--color--street-sign--red-light),
    1px 3px 4px var(--color--street-sign--red-dark);
  transform: rotate(-2deg);
}
.street-sign > :nth-child(2) > * {
  background-color: var(--color--street-sign--peach);
  background-image: repeating-linear-gradient(
    90deg,
    var(--color--second-light) 0 3px,
    transparent 0 9px
  );
  clip-path: polygon(
    0 20%,
    80% 20%,
    80% 0,
    100% 50%,
    80% 100%,
    80% 80%,
    0 80%,
    10% 50%
  );
  display: block;
  padding: 15% 10% 15% 7.5%;
}
.street-sign > :nth-child(n + 3) {
  background-color: var(--color--street-sign--peach);
  border: 3px solid var(--color--second);
  border-radius: 9px;
  color: rgba(65, 32, 28, 0.65);
  letter-spacing: -0.1em;
  transform: rotate(-8deg);
}
.street-sign > :nth-child(n + 3) > b {
  display: inline-block;
  filter: url("/assets/images/css-filters.svg#feTurbulence");
  font-weight: 900;
  text-shadow: 0 0 1px var(--color--street-sign--peach);
  transform: rotate(15deg);
}
.street-sign > :nth-child(n + 3) > b:nth-child(2n) {
  transform: rotate(-15deg);
}
.street-sign > :nth-child(n + 3) > b:nth-child(1),
.street-sign > :nth-child(n + 3) > b:nth-child(3),
.street-sign > :nth-child(n + 3) > b:nth-child(6) {
  color: var(--color--second-light);
  font-family: var(--font-family--primary);
  font-weight: 400;
  position: relative;
  text-shadow: 0 0 6px var(--color--second), 4px 4px 4px var(--color--black);
  top: -10px;
}

/**
 * Text-shadows to match the theme.
 */
.text-shadow--second-light--solid {
  text-shadow: 3px 3px 0 var(--color--second-light);
}
