---
authors:
  - brad-czerniak
#categories: ["one", "two"]
classes: "layout--hide--animations background-color--third-light padding-vertical--4"
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: Shelby and Brad are animated
title_classes: "a11y--visually-hidden"
---

<div class="animation--container position--relative">
  {% include atoms/image.html
    src="brad_head_100x100.png"
    alt="Bizarro Brad"
    classes="js--to-animate js--event--click js--event--mouseover animation-name--slide-spin animation-iteration-count--infinite animation-direction--alternate animation-duration--3s"
  %}
  {% include atoms/image.html
    src="shelby_head_100x100.png"
    alt="Bizarro Shelby"
    classes="js--to-animate js--event--click js--event--mouseover animation-name--slide-spin animation-iteration-count--infinite animation-direction--alternate-reverse animation-duration--3s"
  %}
</div>
