---
authors:
  - brad-czerniak
#categories: ["one", "two"]
classes: ""
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: "Our story"
title_classes: "text-shadow--second-light--solid heading--h1 text-align--center"
---

<div class="layout--row display--flex">
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
    padding-horizontal--4 padding-horizontal--collapse">
    <p>We met, pretty soon after took a long road trip, and now we want to be together forever.</p>

    <p>Learn a little bit of history, as well as the basic five Ws of the nuptials.</p>

    {% include atoms/spacer.html size="2" %}

    <a class="button cta" href="{% link collections/pages/about.html %}">About {{ site.title }}</a>
  </aside>
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
    {% include atoms/image.html
      src="MVIMG_20190731_213254.jpg"
      alt="A wonderful night we had together"
      classes="box-shadow--lifted-edges"
    %}
  </aside>
</div>
