---
authors:
  - brad-czerniak
#categories: ["one", "two"]
classes: ""
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: "Call to action"
title_classes: " text-align--center"
---

<div class="layout--row display--flex">
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
    padding-horizontal--4 padding-horizontal--collapse">
    <p>
      This is the "Call to action" section you can drop onto any page using finished-starter's flexible, reusable sections.
    </p>

    <p>
      When you customize this for your site, replace this text with your "hard sell"; the quick, captivating reason to click
      the button below and perform the subsequent business action.
    </p>

    {% include atoms/spacer.html size="2" %}

    <a class="button cta" href="https://github.com/lowerbarriers/finished-starter">Finish what you start</a>
  </aside>
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
    {% include atoms/image.html
      src="undraw_To_do_list_re_9nt7.png"
      alt="Checking off to-do list items"
      classes=""
      link_url="https://github.com/lowerbarriers/finished-starter"
    %}
  </aside>
</div>
