---
authors:
  - brad-czerniak
#categories: ["one", "two"]
classes: "background-color--white text-align--center"
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: "The goings-on"
title_classes: " heading--h1"
---

{% include atoms/spacer.html size="4" %}

{% assign events = site.events | where_exp:"item", "item.date >= site.time" %}
{% if events[0] %}
  <ul class="list-style--none layout--multiple--horizontal">
    {% for event in events %}
      {% include molecules/card.html
        entity=event
      %}
    {% endfor %}
  </ul>

  <p>To see all current events, check out the <a href="{{ site.subpath }}{% link collections/pages/events.html %}">Events page</a></p>
{% else %}
  <p class="listing--no-results">There are presently no future events.</p>
{% endif %}
