---
authors:
  - brad-czerniak
#categories: ["one", "two"]
classes: "background-color--second-dark background-image--dirt color--white text-align--center"
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: Photographs and memories
title_classes: "text-shadow--second-light--solid heading--h1"
---

{% include atoms/spacer.html size="4" %}

<div class="layout--multiple--horizontal">
  {% for image in site.data.gallery %}
    {% include atoms/image.html
      alt=image.alt
      caption=image.caption
      classes=image.classes
      src=image.src
    %}
  {% endfor %}
</div>
