/**
 * @file
 * property--value CSS mini-library.
 */

.align-content--flex-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.align-content--flex-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.align-content--center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.align-content--space-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.align-content--space-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}
.align-content--space-evenly {
  /* Use space-around for flexbugs support. */
  -webkit-align-content: space-around;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
}
.align-content--stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.align-items--flex-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-items--flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-items--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-items--baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.align-items--stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.align-self--flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.align-self--flex-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.align-self--center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.align-self--baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
.align-self--stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.background-attachment--fixed {
  background-attachment: fixed;
}
.background-attachment--local {
  background-attachment: local;
}
.background-attachment--scroll {
  background-attachment: scroll;
}

.background-position-x--left {
  background-position-x: left;
}
.background-position-x--right {
  background-position-x: right;
}
.background-position-x--center {
  background-position-x: center;
}

.background-position-y--top {
  background-position-y: top;
}
.background-position-y--bottom {
  background-position-y: bottom;
}
.background-position-y--center {
  background-position-y: center;
}

.background-repeat--repeat-x {
  background-repeat: repeat-x;
}
.background-repeat--repeat-y {
  background-repeat: repeat-y;
}
.background-repeat--repeat {
  background-repeat: repeat;
}
.background-repeat--space {
  background-repeat: space;
}
.background-repeat--round {
  background-repeat: round;
}
.background-repeat--no-repeat {
  background-repeat: no-repeat;
}

.background-size--auto {
  -webkit-background-size: auto auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
.background-size--contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.background-size--cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear--both {
  clear: both;
}
.clear--left {
  clear: left;
}
.clear--right {
  clear: right;
}
.clear--none {
  clear: none;
}

.cursor--pointer {
  cursor: pointer;
}

.display--none {
  display: none;
}
.display--block {
  display: block;
}
.display--contents {
  display: contents;
}
.display--inline {
  display: inline;
}
.display--flex {
  /* https://github.com/philipwalton/flexbugs */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.display--grid {
  display: grid;
}
.display--table {
  display: table;
}
.display--inline-block {
  display: inline-block;
}
.display--inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex--auto {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.flex--initial {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.flex--none {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -moz-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.flex--1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.flex--2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.flex--3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.flex--4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.flex--5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.flex--6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-direction--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-direction--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flex-direction--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-direction--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-wrap--nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex-wrap--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-wrap--wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.float--left {
  float: left;
}
.float--none {
  float: none;
}
.float--right {
  float: right;
}

.font-stretch--ultra-condensed {
  font-stretch: ultra-condensed;
}
.font-stretch--extra-condensed {
  font-stretch: extra-condensed;
}
.font-stretch--condensed {
  font-stretch: condensed;
}
.font-stretch--semi-condensed {
  font-stretch: semi-condensed;
}
.font-stretch--normal {
  font-stretch: normal;
}
.font-stretch--semi-expanded {
  font-stretch: semi-expanded;
}
.font-stretch--expanded {
  font-stretch: expanded;
}
.font-stretch--extra-expanded {
  font-stretch: extra-expanded;
}
.font-stretch--ultra-expanded {
  font-stretch: ultra-expanded;
}

.font-style--italic {
  font-style: italic;
}

.font-weight--100,
.font-weight--lighter {
  font-weight: 100;
}
.font-weight--200 {
  font-weight: 200;
}
.font-weight--300,
.font-weight--light {
  font-weight: 300;
}
.font-weight--400,
.font-weight--normal {
  font-weight: 400;
}
.font-weight--500 {
  font-weight: 500;
}
.font-weight--600,
.font-weight--bold {
  font-weight: 600;
}
.font-weight--700,
.font-weight--bolder {
  font-weight: 700;
}
.font-weight--800 {
  font-weight: 800;
}
.font-weight--900 {
  font-weight: 900;
}

.justify-content--flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-content--flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-content--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content--space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-content--space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
}
.justify-content--space-evenly {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}
.justify-content--stretch {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -moz-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

/**
 * List-style and list-style-type.
 */
.list-style--none,
.list-style-type--none {
  list-style: none;
}

.overflow--visible {
  overflow: visible;
}
.overflow--hidden {
  overflow: hidden;
}
.overflow--scroll {
  overflow: scroll;
}
.overflow--auto {
  overflow: auto;
}
.overflow--overlay {
  overflow: auto;
}

.overflow-x--auto {
  overflow-x: auto;
}
.overflow-x--scroll {
  overflow-x: scroll;
}

.overflow-y--auto {
  overflow-y: auto;
}
.overflow-y--scroll {
  overflow-y: scroll;
}

.position--static {
  position: static;
}
.position--relative {
  position: relative;
}
.position--absolute {
  position: absolute;
}
.position--sticky {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
}
.position--fixed {
  position: fixed;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}
.text-align--center {
  text-align: center;
}
.text-align--justify {
  text-align: justify;
}

.text-transform--uppercase {
  text-transform: uppercase;
}
.text-transform--lowercase {
  text-transform: lowercase;
}
.text-transform--none {
  text-transform: none;
}
.text-transform--capitalize {
  text-transform: capitalize;
}

.vertical-align--baseline {
  vertical-align: baseline;
}
.vertical-align--sub {
  vertical-align: sub;
}
.vertical-align--super {
  vertical-align: super;
}
.vertical-align--text-top {
  vertical-align: text-top;
}
.vertical-align--text-bottom {
  vertical-align: text-bottom;
}
.vertical-align--middle {
  vertical-align: middle;
}
.vertical-align--top {
  vertical-align: top;
}
.vertical-align--bottom {
  vertical-align: bottom;
}
