/**
 * @file
 * Color classes in a property--value style.
 */

/**
 * Background-color classes. Add here as needed.
 */
.background-color--black {
  background-color: var(--color--black);
}
.background-color--grey-dark {
  background-color: var(--color--grey-dark);
}
.background-color--grey {
  background-color: var(--color--grey);
}
.background-color--grey-light {
  background-color: var(--color--grey-light);
}
.background-color--white {
  background-color: var(--color--white);
}
.background-color--main {
  background-color: var(--color--main);
}
.background-color--main-dark {
  background-color: var(--color--main-dark);
}
.background-color--main-light {
  background-color: var(--color--main-light);
}
.background-color--second {
  background-color: var(--color--second);
}
.background-color--second-dark {
  background-color: var(--color--second-dark);
}
.background-color--second-light {
  background-color: var(--color--second-light);
}
.background-color--third {
  background-color: var(--color--third);
}
.background-color--third-dark {
  background-color: var(--color--third-dark);
}
.background-color--third-light {
  background-color: var(--color--third-light);
}
.background-color--accent {
  background-color: var(--color--accent);
}
.background-color--status {
  background-color: var(--color--status);
}
.background-color--status-background {
  background-color: var(--color--status-background);
}
.background-color--warning {
  background-color: var(--color--warning);
}
.background-color--warning-background {
  background-color: var(--color--warning-background);
}
.background-color--error {
  background-color: var(--color--error);
}
.background-color--error-background {
  background-color: var(--color--error-background);
}

/**
 * Inverted styles for buttons.
 */
.background-color--black.button--ghost {
  color: var(--color--black);
}
.background-color--grey-dark.button--ghost {
  color: var(--color--grey-dark);
}
.background-color--grey.button--ghost {
  color: var(--color--grey);
}
.background-color--grey-light.button--ghost {
  color: var(--color--grey-light);
}
.background-color--white.button--ghost {
  color: var(--color--white);
}
.background-color--main.button--ghost {
  color: var(--color--main);
}
.background-color--main-dark.button--ghost {
  color: var(--color--main-dark);
}
.background-color--main-light.button--ghost {
  color: var(--color--main-light);
}
.background-color--second.button--ghost {
  color: var(--color--second);
}
.background-color--second-dark.button--ghost {
  color: var(--color--second-dark);
}
.background-color--second-light.button--ghost {
  color: var(--color--second-light);
}
.background-color--third.button--ghost {
  color: var(--color--third);
}
.background-color--third-dark.button--ghost {
  color: var(--color--third-dark);
}
.background-color--third-light.button--ghost {
  color: var(--color--third-light);
}
.background-color--accent.button--ghost {
  color: var(--color--accent);
}
.background-color--status.button--ghost {
  color: var(--color--status);
}
.background-color--status-background.button--ghost {
  color: var(--color--status-background);
}
.background-color--warning.button--ghost {
  color: var(--color--warning);
}
.background-color--warning-background.button--ghost {
  color: var(--color--warning-background);
}
.background-color--error.button--ghost {
  color: var(--color--error);
}
.background-color--error-background.button--ghost {
  color: var(--color--error-background);
}

/**
 * Color classes for text.
 */
.color--black {
  color: var(--color--black);
}
.color--grey-dark {
  color: var(--color--grey-dark);
}
.color--grey {
  color: var(--color--grey);
}
.color--grey-light {
  color: var(--color--grey-light);
}
.color--white {
  color: var(--color--white);
}
.color--white a {
  color: var(--color--white);
}
.color--main {
  color: var(--color--main);
}
.color--main-dark {
  color: var(--color--main-dark);
}
.color--main-light {
  color: var(--color--main-light);
}
.color--second {
  color: var(--color--second);
}
.color--second-dark {
  color: var(--color--second-dark);
}
.color--second-light {
  color: var(--color--second-light);
}
.color--third {
  color: var(--color--third);
}
.color--third-dark {
  color: var(--color--third-dark);
}
.color--third-light {
  color: var(--color--third-light);
}
.color--accent {
  color: var(--color--accent);
}
.color--status {
  color: var(--color--status);
}
.color--status-background {
  color: var(--color--status-background);
}
.color--warning {
  color: var(--color--warning);
}
.color--warning-background {
  color: var(--color--warning-background);
}
.color--error {
  color: var(--color--error);
}
.color--error-background {
  color: var(--color--error-background);
}
