---
layout: none
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:wfw="http://wellformedweb.org/CommentAPI/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
  >
<channel>
  <title>{{ site.title | xml_escape }} | {{ page.title | xml_escape }}</title>
  <atom:link href="{{ site.url }}{{ site.subpath }}{{ page.dir }}" rel="self" type="application/rss+xml" />
  <link>{{ page.url | absolute_url }}</link>
  <description>{{ site.meta.description | xml_escape }}</description>
  <lastBuildDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %Z" }}</lastBuildDate>
  <language>{{ site.html.lang }}</language>
  <sy:updatePeriod>hourly</sy:updatePeriod>
  <sy:updateFrequency>1</sy:updateFrequency>
  <generator>{{ site.meta.generator | xml_escape }}</generator>
  {% for post in site[page.collection] limit:20 %}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <link>{{ post.url | absolute_url }}</link>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %Z" }}</pubDate>
      {% for author in post.authors %}
        {% assign person = site.people | where: 'slug', author | first %}
        <dc:creator>{{ person.title | xml_escape }}</dc:creator>
      {% endfor %}
      {% for category in post.categories %}
        <category><![CDATA[{{ category | xml_escape }}l]]></category>
      {% endfor %}
      {% for tag in post.tags %}
        <category><![CDATA[{{ tag | xml_escape }}l]]></category>
      {% endfor %}
      <guid isPermaLink="true">{{ post.url | absolute_url }}</guid>
      <description><![CDATA[{{ post.content | strip_html | xml_escape }}]]></description>
      <content:encoded><![CDATA[{{ post.content }}]]></content:encoded>
    </item>
  {% endfor %}
</channel>
</rss>
