<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#"><head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
{% if page.title == "Brad Czerniak" %}
  <title>Brad Czerniak</title>
{% else %}
  <title>{{ page.title }} | Brad Czerniak</title>
{% endif %}
<meta name="apple-mobile-web-app-title" content="bpcz" />
<meta name="author" content="Brad Czerniak" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://bradczerniak.com/apple-touch-icon.png" />
<meta property="og:url" content="http://bradczerniak.com{{ page.url }}" />
<meta property="og:country-name" content="USA"/>
<meta property="og:email" content="ao5357@gmail.com"/>
<meta property="og:locality" content="Belleville"/>
<meta property="og:phone_number" content="248-721-0350"/>
<meta property="og:postal-code" content="48111"/>
<meta property="og:region" content="MI"/>
<meta property="og:site_name" content="Brad Czerniak" />
<meta property="og:street-address" content="6751 Anna Dr"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Vollkorn:400italic,400,700" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:300" />
<link rel="stylesheet" type="text/css" href="/deps/styles.css" />
<link rel="alternate" type="application/rss+xml" href="/feed" title="RSS feed" />
</head><body><div class="page" itemscope itemtype="http://schema.org/Blog">
	<header>
    <a itemprop="url" href="/">
		<h1 class="site-name" itemprop="name">Brad Czerniak</h1>
    <p>Brad Czerniak</p>
    </a>
    <a class="nav-link" href="http://resume.bradczerniak.com">Résumé</a>
	</header>
  {% if page.title == "Brad Czerniak" %}
  {% include splash.html %}
  {% endif %}
	<section>
		{{ content }}
	</section>
  {% if page.title == "Brad Czerniak" %}
  {% include socials.html %}
  {% endif %}
	<footer>
		<h1>Things Brad Likes</h1>
		{% include affiliates.html %}
	</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-697953-3', 'bradczerniak.com');
  ga('send', 'pageview');
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/deps/behaviors.js"></script>
</div></body></html>
