<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<title>Brad Czerniak</title>
<meta name="author" content="Brad Czerniak" />
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/deps/styles.css" />
<link href="/feed" type="application/rss+xml" rel="alternate" title="RSS feed" />
</head><body>
	<header>
		{% if page.url == '/index.html' %}<h1>{% else %}<h3>{% endif %}
			<a href="/">Brad Czerniak</a>
		{% if page.url == '/index.html' %}</h1>{% else %}</h3>{% endif %}
	</header>
	<section>
		{{ content }}
	</section>
	<footer>
		<a href="http://twitter.com/ao5357">@ao5357</a> | <a href="/feed">RSS</a>
	</footer>
<script type="text/javascript">
var _gaq=_gaq || [];_gaq.push(['_setAccount', 'UA-697953-3']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript'; ga.async=true;ga.src=('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();
</script>
</body></html>